.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 58rem;
  max-width: calc(100vw - 3rem);
  padding: 0 0;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
      position: relative;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}
.drawer__inner-empty .drawer__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

cart-drawer-items.is-empty .block__cart-drawer-progress-block {
    display: none;
}

cart-drawer-items.is-empty .block_cart-drawer-collection {
    display: none;
}

.drawer__inner-empty .drawer__close {
    position: absolute;
    top: 20px !important;
    right: 20px !important;
}

.cart-drawer__empty-content > a {
    display: inline-block;
    background: #1B1F23;
    border-radius: 8px;
    padding: 15.5px 24.5px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1;
}

.cart-drawer__empty-content > a:after,.cart-drawer__empty-content > a:before {
    display: none;
}
.cart__empty-text {
    font-weight: 600;
    font-size: 26px;
}
.cart__login-title {
    font-weight: 500;
}
.drawer__header {
    position: relative;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0000001A;
}
.drawer__heading span {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #fff;
    background: #1B1F23;
    border-radius: 50%;
}
.drawer__heading {
    margin: 0;
    display: flex;
    gap: 12px;
    font-family: Rubik;
    font-size: 34px;
    font-weight: 500;
    line-height: 40.29px;
    text-align: left;
}

.drawer__close {
    display: block;
    padding: 0;
    width: 15px;
    height: 15px;
    color: rgb(var(--color-foreground));
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.cart-drawer .drawer__cart-items-wrapper thead {
    display: none;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
    height: 100%;
    width: 100%;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
    padding: 34px 30px;
    border-top: 2px solid #0000001A;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}


/* .cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
} */

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

/* .cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
} */

.cart-drawer .cart-item .loading__spinner {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 0;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 2rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  top: 100%;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
}


.drawer__cart-items-wrapper {
    padding: 0 30px;
    margin-bottom: 40px;
}
.drawer__cart-items-wrapper .cart-items {
    background: #F6F6F5;
    border-radius: 12px;
    padding: 16px;
}
.drawer__cart-items-wrapper .cart-items tbody .cart-item:not(:last-child) {
    margin-bottom: 12px;
}

.cart-drawer .cart-item {
    display: flex;
    margin-bottom: 0;
    padding: 16px;
    background: #fff;
    border-radius: 8px;
    align-items: center;
}
.cart-drawer .cart-item .cart-item__media {
    width: 90px;
}
.cart-drawer .cart-item .cart-item__details {
    width: calc(100% - 90px);
    padding-left: 16px;
}
.cart-drawer .cart-item .cart-item__media {
    width: 90px;
}

.cart-drawer .cart-item .cart-item__details {
    width: calc(100% - 90px);
    padding-left: 16px;
}

.block__cart-drawer-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: unset;
    margin: 0 0 12px;
}

.block__cart-drawer-title .cart-item__name {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.block__cart-drawer-total {position: relative;}

.cart-drawer .block__cart-drawer-total .loading__spinner {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
}
.cart-item__price-wrapper .price {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #1B1F23;
}

.block_cart-drawer-qty-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: unset;
}
.cart-drawer .cart-item__error {
    display: none;
}
.block_cart-drawer-qty-box  .cart-quantity {
    width: 86px;
    min-height: 34px;
    border: 1px solid #00000033;
    border-radius: 6px;
    overflow: hidden;
}

.block_cart-drawer-qty-box .cart-quantity:after,.block_cart-drawer-qty-box .cart-quantity:before {
    display: none;
}
.block__cart-item-subscribe {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1B1F23B2;
    font-family: 'Rubik',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.22px;
    text-align: left;
    padding: 10px 16px;
    border: 1px dashed #00000033;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.block_cart-drawer-qty-box .cart-quantity button {
    width: 33.33%;
    margin: 0;
    color: #000000;
    box-shadow: none;
    outline: none;
}

.block_cart-drawer-qty-box .cart-quantity input {
    width: 33.33%;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.22px;
    background: #1B1F23B2;
}
.cart-drawer .cart-item .cart-item__media {
    width: 90px;
}

.cart-drawer .cart-item .cart-item__details {
    width: calc(100% - 90px);
    padding-left: 16px;
}

.block__cart-drawer-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: unset;
    margin: 0 0 12px;
}

.block__cart-drawer-title .cart-item__name {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.block__cart-drawer-total {position: relative;}

.cart-drawer .block__cart-drawer-total .loading__spinner {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
}

.cart-item__price-wrapper {}

.cart-item__price-wrapper .price {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #1B1F23;
}

.block_cart-drawer-qty-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.block_cart-drawer-qty-box  .cart-quantity {
    width: 86px;
    min-height: 34px;
    border: 1px solid #00000033;
    border-radius: 6px;
    overflow: hidden;
}

.block_cart-drawer-qty-box .cart-quantity:after,.block_cart-drawer-qty-box .cart-quantity:before {
    display: none;
}

.block_cart-drawer-qty-box .cart-quantity button {
    width: 33.33%;
    margin: 0;
    color: #000000;
    box-shadow: none;
    outline: none;
}

.block_cart-drawer-qty-box .cart-quantity input {
    width: 33.33%;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.22px;
    background: #1B1F23B2;
}

.cart-drawer__footer .totals {
    margin: 0 0 28px;
    align-items: center;
}

.cart-drawer__footer  .totals__total {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.7px;
    color: #1B1F23;
    margin: 0;
}

.cart-drawer__footer .totals__total-value {
    color: #1B1F23;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.44px;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 0;
}
.cart-drawer-title-block {
    text-align: left;
}

.cart-drawer__footer  .tax-note {
    margin: 10px 0 0;
    color: #1B1F2399;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    letter-spacing: -0.01em;
    text-align: left;
}
.drawer__footer .cart__ctas {
    gap: 12px;
}

.drawer__footer .cart__ctas > * {
    width: 100%;
    border: 1px solid #1B1F23;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Rubik;
    font-size: 18px;
    line-height: 21.33px;
    text-align: left;
    padding: 19px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .4s ease;
}

.drawer__footer .cart__ctas .cart__checkout-button::after,.drawer__footer .cart__ctas .cart__checkout-button::before {display: none;}

.drawer__footer .cart__ctas .cart__checkout-button {
    background: #1B1F23;
    font-weight: 600;
}

.drawer__footer .cart__ctas .cart__checkout-button:hover {
    background: transparent;
    color: #1B1F23;
}

.drawer__footer .cart__ctas .view-cart-btn {
    font-weight: 500;
    color: #1B1F23
;
}

.drawer__footer .cart__ctas .view-cart-btn:hover {
    background: #1B1F23
;
    color: #fff;
}
.cart-item__quantity-wrapper cart-remove-button {
    margin: 0;
}

.cart-item__quantity-wrapper cart-remove-button button {
    min-width: 3rem;
    min-height: 3rem;
}
.cart-item__quantity-wrapper {
    display: flex;
    gap: 10px;
}

.block_cart-drawer-collection {
}

.block_cart-drawer-collection-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
}

.block_cart-drawer-collection-title h2 {
    font-family: 'Rubik',sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.07px;
    text-align: center;
    color: #1B1F23;
    margin: 0;
}

.block_cart-drawer-collection-item {
    max-width: 232px;
}

.block_cart-drawer-collection-item-block {background: #F6F6F5;border-radius: 8px;padding: 20px;}

.block_cart-drawer-collection-item {
    padding: 0 6px;
}

.block_cart-drawer-collection-img {
    display: block;
    position: relative;
    padding-top: 77.8%;
    margin-bottom: 14px;
}

.block_cart-drawer-collection-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.block_cart-drawer-collection-card-title {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    min-height: 36px;
    margin: 0 0 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #000000;
}

.block_cart-drawer-collection-btn-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block_cart-drawer-collection-price {
    margin: 0;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #1B1F23;
}
.block_cart-drawer-collection-button {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.block_cart-drawer-collection-button button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset;
    transform: unset;
    border: 1px solid #1B1F231A;
    background: #F5F5F5;
    border-radius: 4px;
    color: #1B1F23;
    cursor: pointer;
}

.block_cart-drawer-collection-button button:before {
    display: none;
}

.block_cart-drawer-collection-btn {
    background: #1B1F23;
    color: #fff;
    padding: 5px 13px 5px 16px;
    border-radius: 4px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #1B1F23;
    transition: all .4s ease;
}

.view-cart-btn {
  display:none !important;
}

.block_cart-drawer-collection-btn:hover {
    color: #1B1F23
;
    background: transparent;
}

.block_cart-drawer-collection-slider {
    padding-left: 30px;
    padding-bottom: 20px;
}

.block_cart-drawer-collection-slider .slick-list {
    padding-left: 0 !important;
}
.block__cart-drawer-progress-block {
    padding: 26px 30px 22px;
}
.block__cart-drawer-progress-text {
    margin: 0 0 8px;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    text-align: center;
    color: #1B1F23;
}
.block__cart-drawer-progress-box {
    display: flex;
    gap: 16px;
    align-items: center;
}

.block__cart-drawer-progress-box span {
    display: block;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    color: #1B1F23;
}

.block__cart-drawer-progress {
    width: 100%;
    background: #00000029;
    position: relative;
    height: 3px;
}

.block__cart-drawer-progress span {
    position: absolute;
    top: 0;
    background: #1B1F23;
    left: 0;
    z-index: 1;
    height: 100%;
}

.block__cart-drawer-progress-value {
    font-weight: 500;
}


cart-drawer-items.is-empty .block__cart-drawer-progress-block {
    display: none;
}

cart-drawer-items.is-empty .block_cart-drawer-collection {
    display: none;
}

@media screen and (max-width:749px){
  .drawer__cart-items-wrapper {
    padding: 0;
  }
  .block__cart-item-subscribe {
    font-size: 10px;
    margin-top: 10px;
  }
  .block_cart-drawer-collection-title h2 {
    font-size: 14px;
  }
}