.block-left-arrow button {
    border: none;
    background: no-repeat;
    padding: 0;
    min-width: 34px;
    min-height: 34px;
    border: 0;
    cursor: pointer;
}

.block-left-arrow button .loading__spinner {
    display: none !important;
}

.block-left-arrow form.form {
    display: flex;
}

.featured-collection--wrapper {
    background: rgba(246, 246, 245, 1);
    padding: 80px 0;
}

.collection__title.title-wrapper {
    margin-bottom: 5rem;
}

.collection__title p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin: 0 0 8px;
    color: #000;
}

.collection__title h2.title.inline-richtext {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: #1B1F23;
    margin-bottom: 24px;
    margin-top: 0;
}

.collection__title {
    text-align: center;
}

.collection__title a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #1B1F23;
    text-underline-offset: 3px;
    text-decoration: underline !important;
}

.featured-collection--wrapper .collection-product-grid--wrapper {
    /* gap: 20px;
  display: flex;
  flex-wrap: wrap; */
    padding: 0;
    list-style: none;
    margin: 0 -10px;
}

.featured-collection--wrapper .collection-product-grid {
    width: calc(25% - 15px);
    border-radius: 8px;
}

.featured-collection--wrapper .card--standard .card__inner {
    background: none;
}

.card__heading a:after {
    display: none !important;
}

.collection-product-grid .card__content {
    padding: 0 20px 0 !important;
}

.collection-product-grid .card__information {
    padding: 33px 0 0;
}

.card-tag--content {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;

}
.featured-collection--wrapper .collection-product-grid--wrapper .card-wrapper {
    background: #fff;
}
.featured-collection--wrapper .collection-product-grid--wrapper .slick-slide {
    padding: 0 10px;
    background: transparent !important;
}

.card-tag--content span {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    color: #000;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    background: rgba(246, 246, 245, 1);
    padding: 5px 10px;
    border-radius: 4px;
    white-space: pre;
}

.card-tag--content span:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(16, 18, 38, 1);
    display: block;
    left: 0;
}

.featured-collection--wrapper .card__information h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1B1F23
;
}

.featured-collection--wrapper .card__information p {
    font-family: Rubik;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(27, 31, 35, 0.7);
    margin: 5px 0 8px;
}

.card-product-review--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 00 !important;
}

.card-product--btn span {
    background: #1B1F23;
    font-family: Rubik;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    border-radius: 4px;
    padding: 5px 16.5px;
    display: block;
}

.card-product-review {
    display: flex;
}

.featured-collection--wrapper .underline-links-hover:hover a {
    text-decoration: none;
}

.card__product--badge {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card__product--badge img {
    max-width: 60px;
}

.card__product--label {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card__product--label span {
    background: rgba(255, 237, 146, 1);
    display: block;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: rgba(27, 31, 35, 1);
    padding: 6px 10.25px;
}

.featured-collection--wrapper .card__media .media img {
    object-fit: contain
}

.card__product--image {
    position: relative;
    padding: 33px 33px 0;
}

.card-product-subscription--content {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.card-sub-box {
    width: 50%;
    background: rgba(246, 246, 245, 1);
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 4px;
    padding: 10px 10px 10px 34px;
    position: relative;
    cursor: pointer;
}

.featured-collection--wrapper .card__information .card-sub-box p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: rgba(27, 31, 35, 1);
    margin: 0 0 4px;
    white-space: nowrap;
}

.card-sub-box span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    color: #1B1F23;
    display: flex;
    gap: 4px;
    align-items: center;
}

.card-sub-box span i {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    color: rgba(128, 38, 8, 1);
    font-style: normal;
}

.card-sub-box:after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid rgba(27, 31, 35, 1);
    border-radius: 50%;
    top: 10px;
    left: 10px;
}

.card-sub-box.active {
    border-color: #000000;
}

.card-product-subscription--content .card-sub-box.active:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    left: 14px;
    top: 14px;
    border: 1px solid rgba(27, 31, 35, 1);
    background: #000;
    border-radius: 50%;
}

body.block_dark .card-product-subscription--content .card-sub-box.active:before {
    background: #fff;
}

.collection-product-grid .card__information .quick-add__submit:after,
.collection-product-grid .card__information .quick-add__submit:before {
    display: none;
}

.collection-product-grid .card__information .quick-add__submit {
    background: rgba(27, 31, 35, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: #fff;
    border-radius: 8px;
    padding: 6px 8px;
    min-height: 45px;
}

.card__full-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    margin: 18px auto 0;
    color: rgba(27, 31, 35, 1);
    text-decoration: none;
    position: absolute;
    width: 100%;
    opacity: 0;
    bottom: 18px;
    transition: all 0.5s ease;
}

.card-product-hover--content .quick-add {
    margin-bottom: 0;
}

.underline-links-hover:hover .card__full-detail {
    opacity: 1 !important;
}

.card__information {
    position: relative;
    overflow: hidden;
}

.card-product-hover--content {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    /* transform: translateY(100%); */
}

.card__content {
    padding: 0 20px 20px !important;
}

.card--product-top-content {
    padding: 0 0 20px;
    transition: all 0.5s ease;
}

.underline-links-hover:hover .card--product-top-content {
    transform: translateY(-25%);
    opacity: 0;
}

.underline-links-hover:hover .card-product-hover--content {
    transform: translateY(-43%);
    opacity: 1;
}

.custom--navigation button {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    border: 1px solid rgba(27, 31, 35, .1);
    border-radius: 4px;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .6s;
    align-items: center;
    justify-content: center;
    color: #1B1F23
;
}

.custom--navigation button svg path {
    transition: all 0.6s;
}

.custom--navigation button:hover {
    background: #1B1F23;
}

.custom--navigation button:hover svg path {
    fill: #fff;
}

.featured--collection-hedaing-wrapper {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.custom--navigation .next {
    right: -90px;
}

.custom--navigation .prev {
    left: -90px;
}


/* ===========new=-css====== */


.section_video {
    position: relative;
    padding-bottom: 141%;
    border-radius: 8px;
    overflow: hidden;
}

.section_video img,
.section_video video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}




.section_video-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-right: 15px;
    margin-top: 16px;
    background: #fff;
    border-radius: 8px;
}

.section_text-left {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.section_video-image img {
    min-width: 70px;
    width: 75px;
    aspect-ratio: 1;
}

.section_block-real .featured-collection--wrapper {
    background: #F6F6F5;
}

.pro-title {
    font-family: Rubik;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding-bottom: 8px;
}

p.pro-price {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.section_shop-video-inner {
    width: 19%;
    margin-right: 10px;
}

/* ====================new--------- */

.wrapper {
    padding: 70px 0;
}

.section_block-real {
    overflow: hidden;
}

.section_block-real .collection__title.title-wrapper {
    margin-bottom: 8rem;
}

.collection-product-grid--wrapper:not(.slick-initialized) {
    display: flex;
    flex-wrap: nowrap;
}
.section_shop-video-inner product-form button {
    background-color: transparent;
    border: none;
}


@media(max-width:1499px) {
    .card-tag--content {
        flex-wrap: wrap;
    }
}



/*  */
.section_block-real .collection__title h2.title.inline-richtext {
    color: #1B1F23;
    margin-bottom: 18px;
}

.section_block-real .collection__title a {
    color: #1B1F23;
}

@media screen and (max-width:749px){
    .custom--navigation button {
        position: unset;
        transform: unset;
    }
    .custom--navigation {
        display: none;
        justify-content: center;
        margin: 0 0 20px;
    }
  .card-sub-box span {
    font-size:10px;
  }
  .featured-collection--wrapper .card__information .card-sub-box p {
    font-size:10px;
  }
  .collection__title h2.title.inline-richtext {
    font-size:25px;
  }
}

@media screen and (max-width:1024px) and (min-width:750px){
  .card-sub-box span,
  .card-sub-box span i {
    font-size:10px;
  }
  .featured-collection--wrapper .card__information .card-sub-box p {
    font-size:10px;
  }
}

@media screen and (max-width:1300px) and (min-width:1025px){
  .card-sub-box span,
  .card-sub-box span i {
    font-size:8.5px;
  }
  .featured-collection--wrapper .card__information .card-sub-box p {
    font-size:10px;
  }
}