.section_ebooks--wrapper {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  padding: 287px 80px;
}

.section_ebooks-content h2 {
  letter-spacing: 0;
  font-family: Rubik;
  font-size: 50px;
  font-weight: 600;
  line-height: 59.25px;
  text-align: left;
  color: #fff;
  margin: 0 0 8px;
}

.section_ebooks-content p {
  margin: 0;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  color: #fff;
}

.section_ebook-btn--wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.section_ebook-btn--wrapper a {
  display: block;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  color: #1b1f23;
  background: #ffffff;
  border-radius: 10px;
  padding: 14.5px 10px;
  min-width: 190px;
  text-align: center;
  border: 1px solid #ffffff;
  transition: all 0.4s;
  text-decoration: none;
}

.section_ebook-btn--wrapper a.bor-btn,
.section_ebook-btn--wrapper a:hover {
  background: none;
  color: #fff;
}

.section_ebook-btn--wrapper a.section_bor-btn:hover {
  background: #fff;
  color: #1b1f23;
}

@media screen and (max-width: 749px) {
  .section_ebooks--wrapper {
    padding: 150px 30px;
  }
  .section_ebook-btn--wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
